.advantages__list {
  list-style: none;
  margin: 0;
  padding: 26px 22px 24px 22px;
  background-color: $grey;


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}



.advantages__item:not(:last-child) {
  position: relative;
  margin-bottom: 50px;

  @media (max-width: $mobile-only-width) {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $grey-decor;
      top: 157px;
    }
  }
}

.advantages__list .advantages__item {
  @media (min-width: $tablet-width) {
    padding: 41px 48px 42px 41px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 43px 55px 62px 55px;
  }
}



.advantages__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 17px;
  }
}

.advantages__number,
.advantages__description {
  font-size: 14px;
  color: $black-100;
  line-height: 21px;
  text-align: center;
}

.advantages__number {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    margin-top: 0;
  }
}

.advantages__description {
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
