.copyright {
  padding-top: 44px;
  margin-bottom: 27px;
  justify-self: end;
}

.copyright__description {
  font-size: 14px;
  line-height: 26px;
  display: inline-block;
  margin-left: auto;
  margin-right: 5px;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;

  &:hover {
    fill: $blue;
  }
}

.copyright__link svg {
  &:hover {
    fill: $blue;
  }

  &:active {
    opacity: 0.3;
  }
}
