.feels {
  grid-column: 1/-1;
  grid-row: 4/5;
}

.feels__field-wrapper {
  display: flex;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }
}

.feels__field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  overflow: auto;
  resize: none;
  background-color: $grey-field;
  padding: 13px 23px 9px 21px;
  flex-grow: 1;
  box-sizing: border-box;
  border: 4px solid $grey-field;

  &::placeholder {
    color: $black;
  }

  &:hover {
    background-color: $grey-disabled;
    border: 4px solid $grey-disabled;
  }

  &:focus {
    border: 4px solid $grey-disabled;
    background-color: $white;
    outline: none;
  }
}
