.field__label {
  display: block;
  font-size: 14px;
  line-height: 26px;
  margin-right: 16px;

  &::before {
    content: "";
    position: absolute;
    width: 58px;
    height: 60px;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    top: 30%;
    box-sizing: border-box;

    @media (min-width: $desktop-width) {
      top: 0;
    }
  }

  &--phone {
    margin-left: 22px;
    margin-bottom: 8px;

    @media (min-width: $desktop-width) {
      margin-left: 0;
    }

    &::before {
      background-color: $grey-form-icon;
      background-image: url("../../img/form-decor-phone.svg");
    }
  }

  &--email {
    margin-left: 22px;
    margin-bottom: 8px;

    &::before {
      background-color: $grey-form-icon;
      background-image: url("../../img/form-decor-email.svg");
    }
  }

  @media (min-width: $desktop-width) {
    &--email {
      flex-grow: 2;
      margin-left: 0;
      margin-right: 13px;
    }
  }
}

.field__input {
  background-color: $grey-field;
  padding-top: 16px;
  padding-bottom: 12px;
  padding-left: 22px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: 4px solid $grey-field;

  &::placeholder {
    color: $black;
  }

  &:hover {
    background-color: $grey-disabled;
    border: 4px solid $grey-disabled;
  }

  &:focus {
    border: 4px solid $grey-disabled;
    background-color: $white;
    outline: none;
  }

  @media (min-width: $desktop-width) {
    &--email {
      flex-grow: 0;
      max-width: 318px;
    }
  }
}
