.hide--desktop {
  @media (min-width:$desktop-width) {
    display: none;
  }
}

.hide--tablet {
  @media (min-width:$tablet-width) {
    display: none;
  }
}

.hide--mobile {
  @media (max-width:$mobile-only-width) {
    display: none;
  }
}
