.impression {
  grid-column: 1/2;
  grid-row: 1/2;

  @media (min-width:$tablet-width) {
    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 292px;
      background-color: $grey-decor-form;
      right: 50%;
      top: 573px;
    }
  }

  @media (min-width:$desktop-width) {
    &::before {
      top: 617px;
    }
  }
}

.impression__container {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width:$tablet-width) {
    margin-left: 60px;
  }

  @media (min-width:$desktop-width) {
    margin-left: 120px;
  }
}
