.logo {
  background-image: url("../../img/intro-triangle.svg"), url('../../img/background-main.jpg');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 100%;
  background-size: 1200px 57px, cover;
  min-width: 320px;
  height: 389px;
  margin-top: -28px;

  @media (min-width:$tablet-width) {
    height: 518px;
    margin-top: 0;
  }
}

.logo__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 90px;

  @media (min-width:$tablet-width) {
    width: 461px;
    height: 350px;
    padding-top: 77px;
  }
}
