.logo {
  background-image: url("../img/intro-triangle.svg"), url("../img/background-mobile.jpg");
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 100%;
  background-size: 1200px 57px, cover;
  min-width: 320px;
  height: 389px;
  margin-top: -28px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro-triangle.svg"), url("../img/background-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    height: 518px;
    margin-top: 0;
    background-image: url("../img/intro-triangle.svg"), url("../img/background-main.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro-triangle.svg"), url("../img/background-main@2x.jpg");
    }
  }
}

.logo__img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 90px;

  @media (min-width: $tablet-width) {
    width: 461px;
    height: 350px;
    padding-top: 77px;
  }
}
