.main-advantages {
  background-color: $blue;
  text-transform: uppercase;
}
.main-advantages__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}
.main-advantages__number{
  font-size: 14px;
  line-height: 21px;
}
.main-advantages__description{
  font-size: 14px;
  line-height: 21px;
}
