.offer__wrapper {
  padding-top: 33px;
  padding-bottom: 27px;
  background-color: $white;

  @media (min-width:$tablet-width) {
    padding: 58px 166px 36px 167px;
  }

  @media (min-width:$desktop-width) {
    padding: 58px 375px 42px 375px;
  }
}

.offer__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.offer__description {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  letter-spacing: 0;
}
