.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 84px;
  align-self: center;
  position: relative;

  @media (min-width: $tablet-width) {
    position: absolute;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo img {
    width: 187px;
    height: 97px;
  }
}
