.page {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  max-width: 1200px;

  @media (min-width: $desktop-width) {
    margin-right: auto;
    margin-left: auto;
    background-color: $grey-background;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }

  &--form {
    background-color: $white;
  }
}
