.page-promo__wrapper {
  padding: 33px 29px 27px 30px;
  background-color: $white;

  &--form {
    border-bottom: 1px solid $grey-disabled;
    padding-bottom: 16px;
  }

  &--catalog {
    padding: 24px 20px 27px;
  }

  &--footer {
    padding: 32px 23px 33px 23px;
  }

  @media (min-width: $tablet-width) {
    padding: 43.5px 124px 52.5px 124px;

    &--form {
      padding: 65px 167px 61.5px 166px;
      border-bottom: none;
    }

    &--catalog {
      padding: 59px 167px;
    }

    &--catalog-footer {
      padding: 53px 162px 62px 161px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 55px 358px 41px 358px;

    &--form {
      padding: 114px 383px 56.5px 383px;
    }

    &--catalog {
      padding: 102px 371px 67px;
    }

    &--catalog-footer {
      padding: 63px 378px 66px 377px;
    }
  }
}

.page-promo__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 21px;

    &--form {
      font-size: 30px;
    }
  }
}

.page-promo__description {
  font-size: 14px;
  line-height: 26px;
  color: $black-100;
  text-align: center;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
