.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  height: 84px;
  position: relative;
  left: calc(50% - 51px);

  @media (min-width:$tablet-width) {
    position: absolute;
  }
}
