.review-form__fieldset {
  border: none;
}

.review-form__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.field__label {
  font-size: 14px;
  line-height: 26px;
}

.field__input {
  background-color: $grey-field;
  border: none;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-left: 22px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  &::placeholder {
    color: $black;
  }
}

.review-form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.review-form__item {
  padding-left: 98px;
  text-transform: none;
  position: relative;
  display: block;
  cursor: pointer;
}

.review-form__label {
  display: block;
  margin-bottom: 43px;
  margin-top: 37px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.review-form__radio+label::before,
.review-form__checkbox+label::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: $grey-field;
  cursor: pointer;
  top: -15px;
  left: 24px;
}

.review-form__radio+label::before {
  border-radius: 50%;
}

.review-form__radio:checked+label::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: $black;
  border-radius: 50%;
  cursor: pointer;
  top: 0px;
  left: 39px;
}

.review-form__checkbox:checked+label::after {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  background-image: url(../../img/form-checked.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  top: 0px;
  left: 39px;
}
