.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @media (min-width:$tablet-width) {
    justify-content: center;
  }
}

.social__item {
  position: relative;
}

.social__item:not(:last-child) {
  margin-right: 1vh;
}


.social__link {
  display: block;
  position: relative;
  padding: 24px 23px;
  background-color: $blue;
  background-repeat: no-repeat;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 46px;

  }

  &:active {
    opacity: 0.3;
  }

  &--twitter {
    background-image: url(../../img/icon-twitter.svg);
  }

  &--facebook {
    background-image: url(../../img/icon-facebook.svg);
  }

  &--youtube {
    background-image: url(../../img/icon-youtube.svg);
  }
}
