.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  @media (min-width:$tablet-width) {
    justify-content: center;
  }
}

.social__item {
  margin-right: 1vh;
}

.social__link {
  display: block;
  padding: 24px 23px;
  background-color: $blue;
  background-repeat: no-repeat;
  background-position: center;

  &:active {
    opacity: 0.3;
  }

  &--twitter {
    background-image: url(../../img/icon-twitter.svg);
  }

  &--facebook {
    background-image: url(../../img/icon-facebook.svg);
  }

  &--youtube {
    background-image: url(../../img/icon-youtube.svg);
    fill: $white;
  }
}
