.video-content {
  margin: 0;
  padding: 0;
  @media (min-width:$desktop-width) {
    margin-bottom: 85px;
    background-color: $white;
  }
}

.video-content__media-wrapper {
  padding: 0;
  @media (min-width:$tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width:$desktop-width) {
    padding-left: 200px;
    padding-right: 200px;

  }
}

.video-content__media {
  background-image: url("../../img/catalog-video-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;

  @media (min-width:$tablet-width) {
    background-image: url("../../img/catalog-video-background-desktop.jpg");
    height: 500px;
  }
}

.video-navigation {
  margin-top: -49px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: $grey-background;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 45px 66px;
  align-items: center;

  @media (min-width:$tablet-width) {
    grid-template-columns: 92px auto 83px 81px;
    grid-template-rows: 93px;
    margin-top: -98px;
    margin-right: 60px;
    margin-left: 60px;
    background-color: rgba($black, 0.6);
    position: relative;
  }

  @media (min-width:$desktop-width) {
    margin-right: 200px;
    margin-left: 200px;
  }
}

.video-navigation__scale-bar {
  grid-column: 1/-1;
  grid-row: 1/2;
  padding: 0;
  height: 45px;
  background-color: rgba($black, 0.6);
  position: relative;

  &::before {
    position: absolute;
    content: "";
    min-width: 83%;
    height: 3px;
    background-color: $white;
    opacity: 0.2;
    top: 50%;
    right: 23px;
  }

  @media (min-width:$tablet-width) {
    grid-column: 2/3;
    background-color: transparent;
  }
}

.video-navigation__handle {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: $white;
  z-index: 2;
  border-radius: 50%;
  opacity: 1;
  top: calc(50% - 5px);
  left: 25%;
}

.video-navigation__button-wrapper {
  &--replay {
    justify-self: center;
  }

  &--subtitles {
    grid-column: 3/4;
    margin-right: 10px;
    justify-self: end;
  }

  &--full-screen {
    justify-self: center;
  }
}

.video-navigation__button {
  width: 32px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.video-navigation__button svg {
  &:hover {
    fill: $black-100;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width:$tablet-width) {
    fill: $white;

    &:hover {
      opacity: 0.6;
      fill: $white;
    }

    &:active {
      opacity: 0.3;
      fill: $white;
    }
  }
}
