img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  background-color: $blue;
  padding: 15px 32px 18px 32px;
  color: $white;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  border: none;
}

body {
  margin: 0;
}
