img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
legend{
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "PT Sans", sans-serif;
  display: block;
  position: relative;
  background-color: $blue;
  padding: 15px 32px 18px 32px;
  color: $white;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  border: none;
  max-width: 394px;

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
    color: rgba($white, 0.3);
  }

  &:disabled {
    background-color: $grey-disabled;
  }
}

body {
  margin: 0;
}
