//Colors
$blue: #81b3d2;
$blue-border: #678fa8;
$blue-hover: #669ec0;
$blue-active: #5496bd;
$grey-disabled: #e5e5e5;
$grey-background: #e7e5e5;
$grey-decor: #d6d6d6;
$white: #ffffff;
$black-100: #333333;
$grey: #eeeeee;
$grey-field: #f2f2f2;
$black: #000000;
$brown-active: #766357;
$brown-hover: #604e43;

//Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-only-width: 767px;
